
*{
  margin: 0;
  padding: 0;
}

body {
  background-color:black;


}


.container {
  background-color: #612940;
  border-radius: 15px;
  width: 100%;
  max-width: 700px;
  margin: 300px auto;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.btn-color {
  background-color: #9D6381;
  color: #fff;
}

.btn-color:hover {
  background-color: #754F5B;
  border: none;
    color: #fff;
}

.frase{
  background-color: #E6DBD0;
  border-radius: 15px;
  color: #5D4954;
  padding: 10px;
  margin-bottom: 5px;
}

.frase .autor{
  text-decoration: underline;
}